DATABASE_URL=postgresql://rideconnect:change-me@postgres:5432/rideconnect
BETTER_AUTH_SECRET=
BETTER_AUTH_URL=https://1.2.3.4.nip.io
TRUSTED_ORIGINS=
DOCS_ENABLED=true
AWS_REGION=eu-west-1
S3_BUCKET=ride-connect-avatars-dev-004165097941-eu-west-1-an
